.project,
.skills,
.about,
.contact {
    
    min-height: var(--main-height);
    // background-color: #be5ef2;
    // padding-top: var(--navbar-height)+ var(--filenames-height);
    text-align: center;
}
.content {
    position: sticky;
    top: (var(--navbar-height) + var(--filenames-height));
    height: var(--main-height);
    overflow: scroll;
    margin-bottom: 0;
}
@media screen and (max-width: 786px) {
    .content {
        height: 100vh;
        z-index: 1;
    }
    
}