.filenames {
  display: flex;
  flex-direction: row;
  margin-bottom: auto;
  &__item {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: var(--secondary-bg-color);
    svg {
      font-size: 5px;
      width: 20px;
      margin-right: 5px;
    }
  }
}
