.navbar {
  display: flex;
  height: var(--navbar-height);
  align-items: center;
  background-color: var(--secondary-bg-color);
  overflow: hidden;
  margin-bottom: 5px;
  &__logo {
    margin: 10px;
    height: 60%;
    object-fit: contain;
  }
  &__tools {
    font-size: 1rem;
    display: flex;
    p {
      padding: 8px;
      &:hover {
        background-color: #4f4f52;
      }
    }
  }
  &__filename {
    margin-left: 8%;
    white-space: pre;
  }
}
@media  (max-width: 768px)  {
  .navbar__tools {
    display: none;
  }
  .navbar__filename {
    margin-left: auto;
    margin-right: auto;
  }
}
@media  (max-width: 420px)  {
  .navbar__logo {
    display: none;
  }
}